html
	head
		title Artbuddy personal profile

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" )
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito")
			
		script(src="https://use.fontawesome.com/937272718b.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		
		style(type='text/css')
			include ../public/css/buddymatch.css
			include ../public/css/navbar.css

	body
		//-navbar
		nav
			img(class='header' src='./img/logo3-1.jpg')
			ul(class='signChild')
				li
					a(href='/profile') profile
				li 
					a(href='/suggestions') cultural invites
				li 
					a(href='/logout') log out

		form(class='msform')
			h2 What are you waiting for? 
			h2 Meet up with your art buddy!
			h3 Matches
			div(class='matches')
				each match in buddymatches
					form(class='msform')
						fieldset
							h3 #{match.fullname}
							p (#{match.gender}, age #{match.age})
							h4 Enjoys: #{match.cultural_interest}
							h4 Is interested in:
							h4 Owns:
							h4 Is a ... chatter
							h4 Would like to exchange thoughts in #{match.languages}
							a(href="#")
								i(class="fa fa-comments") Chat
							br
							a(href='/connect')
								i(class="fa fa-envelope") Suggest an event!